
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Secciones: </h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#miModal">
    Nueva Sección
</button>
<br />
<br />

<table id="seccion" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Seccion Asignada</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<!----------------- Ventana Modal ------------------------------------->
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Secciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Limpiar()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="frmSeccion">
                    <input type="hidden" id="Id" name="Id" />

                    <div class="form-group">
                        <label>Seccion Asignada</label>
                        <input type="text" id="SeccionAsignada" name="SeccionAsignada" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="submit" name="btnAgregar" value="Agregar" class="btn btn-primary" />
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Limpiar()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin de la ventana Modal -->

<script src="~/Scripts/SeccionAjax.js"></script>

