@{
    ViewBag.Title = "Toma De Asistencia";

    ViewBag.Section = "Toma De Asistencia";
    ViewBag.SectionLink = "../PanelTomaDeAsistencia/Index";
    ViewBag.MenuLevel = " > Reporte De Alumnos";
}

<div style="border: 1px solid transparent; width: 100%; display: flex; justify-content: space-between">
    <div>
        <h5>Nota: Selecciona un alumno para ver un reporte completo de los días asistidos, </h5>
        <h5>no asistidos y sus respectivas justificaciones.</h5>
    </div>
    <div>
        <label style="text-align: right">Alumnos</label>
        <select id="IdAlumno" name="IdAlumno" class="form-control" onchange="ActivarReporteAlumno(document.getElementById('IdAlumno').value)">
            <option value="0">Seleccionar</option>
        </select>
    </div>
</div>
<br /><br />      

      <h4>Datos Del Estudiante</h4>
<table id="alumnos" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Nombre Alumno</td>
            <td>Edad</td>
            <td>Sexo</td>
            <td>Dirección</td>
            <td>Teléfono</td>
            <td>Correo</td>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td id="NombresApellidos"></td>
            <td id="Edad"></td>
            <td id="Sexo"></td>
            <td id="Direccion"></td>
            <td id="Telefono"></td>
            <td id="Correo"></td>
        </tr>
    </tbody>
</table>

<h4>Listado De Asistencias</h4>
<table id="fechasalumno" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Fecha</td>
            <td style="color: #0094B3">Asistencia</td>
            <td>Llegó Tarde</td>
            <td>Justificación Llegada Tarde</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<script src="~/Scripts/ReporteAjax.js"></script>