
@{
    ViewBag.Title = "Toma De Asistencia";

    ViewBag.Section = "Toma De Asistencia";
    ViewBag.SectionLink = "../PanelTomaDeAsistencia/Index";
    ViewBag.MenuLevel = " > Tomar Asistencia";
}

<h2>Listado De Tomas De Asistencia</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#miModal">
    Tomar Asistencia
</button>
<br /><br />

<table id="tomadeasistencias" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Fecha</td>
            <td>IdProfesor</td>
            <td>IdAlumno</td>
            <td>IdGrado</td>
            <td>IdSeccion</td>
            <td>Asistencia</td>
            <td>Llego Tarde</td>
            <td>Justificacón De Llegada Tarde</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!----------------- Ventana Modal ------------------------------------->
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Toma De Asistencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Limpiar()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="frmTomaDeAsistencia">
                    <input type="hidden" id="Id" name="Id" />

                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" id="Fecha" name="Fecha" class="form-control" onchange="FechaActive()" />                        
                    </div>

                    <div class="form-group">
                        <label>Profesor</label>
                        <select id="IdProfesor" name="IdProfesor" class="form-control" disabled>
                            <option value="1">Norma Elizabeth Varela Lopez</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Alumno</label>
                        <select id="IdAlumno" name="IdAlumno" class="form-control">
                            <option value="1">David Enrique Caseres Campos</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Grado</label>
                        <select id="IdGrado" name="IdGrado" class="form-control" disabled>
                            <option value="2">2°</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Sección</label>
                        <select id="IdSeccion" name="IdSeccion" class="form-control" disabled>
                            <option value="3">"C"</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Asistencia</label>
                        <select id="Asistencia" name="Asistencia" class="form-control" onchange="AsistenciaActiva()">
                            <option value="">Seleccionar</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                            <option value="Si, con llegada tarde">Si, con llegada tarde</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>LlegoTarde</label>
                        <select id="LlegoTarde" name="LlegoTarde" class="form-control" disabled>
                            <option value=""></option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>JustificacionLlegadaTarde</label>
                        <textarea id="JustificacionLlegadaTarde" name="JustificacionLlegadaTarde"
                                  class="form-control" disabled></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-primary" />
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Limpiar()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Fin de la ventana Modal -->

<script>
    document.getElementById('Fecha').valueAsDate = new Date();
    
    
</script>
<script src="~/Scripts/TomaDeAsistenciaAjax.js"></script>